body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: "Source Sans Pro";
    width: 100%;
}

header {
    /* display: flex; */
    background-image: url('images/background.png');
    background-size: cover;
    margin: 0px;
    width: 100%;
    height: 1055px;
}

/* Menu */

#navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 30px;
}

#logo-link {
    width: 167px;
    height: 29px;
    margin-left: 10%;
}

#menu-container {
    display: inline-flex;
    justify-content: center;
    gap: 55px;
    height: 30px;
    margin-right: 10%;
}

a.menu-link {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Source Sans Pro';
}

/* Banner */

#banner-section {
    width: 100%;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

#banner {
    display: flex;
    flex-direction: column;;
    align-items: center;
    justify-content: center;;
    width: 75%;
}

#banner-heading {
    color: #FFFFFF;
    font-size: 125px;
    font-weight: 700;
    font-family: "Source Sans Pro";
    white-space: nowrap;
    margin-top: 7%;
    margin-right:1%;
}

#banner-subheading {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: -10%;
    gap: 100px;
    word-spacing: 75px;
}

#register-button {
    background-color: #c271ff;
    font-size: 14px;
    width: 162px;
    height: 44px;
    border-radius: 22px;
    font-family: "Source Sans Pro";
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 40px;
}

#pro-section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pro-heading {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    margin-top: 200px;
}

#learn {
    color: #C271FF;
    font-weight: 700;
    font-size: 34px;
}

#from-the-pros {
    font-weight: 50;
    font-size: 34px;
}

#pro-headshots {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.pro-container {
    text-align: center;
    margin-top: 50px;
}

.pro-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.pro-name {
    margin-top: 10px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 750;
    color: #FFFFFF;
}

.pro-award {
    font-size: 16px;
    font-style: italic;
    color: #FFFFFF;
}


